{
    "openapi": "3.1.0",
    "info": {
        "title": "Hype Quotes",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://quotes.shitware.ltd/"
        }
    ],
    "security": [
        {
            "BearerToken": []
        }
    ],
    "paths": {
        "/random": {
            "get": {
                "summary": "Random quote",
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Quote"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthenticated"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/quotes": {
            "get": {
                "summary": "All quotes",
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Quote"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string",
                                                    "example": "https://quotes.shitware.ltd/api/quptes?page=1"
                                                },
                                                "last": {
                                                    "type": ["string", "null"],
                                                    "example": "null"
                                                },
                                                "prev": {
                                                    "type": ["string", "null"],
                                                    "example": "null"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "example": "https://quotes.shitware.ltd/api/quptes?page=2"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "from": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "path": {
                                                    "type": "string",
                                                    "example": "https://quotes.shitware.ltd/api/quotes"
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "to": {
                                                    "type": "integer",
                                                    "example": 15
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthenticated"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a quote",
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOrUpdateQuote"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Quote"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthenticated"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/quotes/{quote}": {
            "get": {
                "summary": "Get a quote",
                "parameters": [
                    {
                        "name": "quote",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Quote"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthenticated"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update a quote",
                "parameters": [
                    {
                        "name": "quote",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOrUpdateQuote"
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a quote",
                "parameters": [
                    {
                        "name": "quote",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthenticated"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerToken": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "Quote": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "example": "cd4e65ac-0456-498e-96a0-bf0f1b096393"
                    },
                    "quote": {
                        "type": "string",
                        "example": "I'll hack the redundant TCP sensor, that should sensor the IB sensor!"
                    },
                    "quotee": {
                        "type": "string",
                        "example": "Mrs. Amalia Parker"
                    },
                    "created_at": {
                        "type": "string",
                        "example": "1996-04-23T12:00:00.000000Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "example": "1996-04-23T12:00:00.000000Z"
                    }
                }
            },
            "CreateOrUpdateQuote": {
                "type": "object",
                "properties": {
                    "quote": {
                        "type": "string",
                        "example": "I'll hack the redundant TCP sensor, that should sensor the IB sensor!"
                    },
                    "quotee": {
                        "type": "string",
                        "example": "Mrs. Amalia Parker"
                    }
                }
            },
            "Unauthenticated": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Unauthenticated."
                    }
                }
            },
            "NotFound": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Quote not found."
                    }
                }
            }
        }
    }
}
